body {
    padding-top: 58px;
}

.btn:hover {
    cursor: pointer;
}

.required {
    color: red;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    &.bg-danger-on-hover:hover {
        background-color: theme-color('danger');
        border-color: darken(theme-color('danger'), 7%);
    }
}

.border-gray {
    border: 1px solid #DDD;
}
