body {
    padding-top: 64px;
}

.btn:hover {
    cursor: pointer;
}

.required {
    color: red;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    &.bg-danger-on-hover:hover {
        background-color: theme-color('danger');
        border-color: darken(theme-color('danger'), 7%);
    }
}

.border-gray {
    border: 1px solid #DDD;
}

.cover-photo {
    background-position: center;
    min-height: 500px;
    width: 100%;
    position: relative;
    &:hover .hover-border {
        border: 5px solid theme-color("primary");
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: $transition-base;
    }
}

.hover-pointer:hover {
    cursor: pointer;
}